.projectssection {
	background-color: var(--dark-secondary);
	padding: 2% 5% 4%;
	width: 90%;
}
	.projectssection:nth-child(even) {
		background-color: var(--dark-primary);
	}
	.projectstitle {
		color: var(--light-primary);
		font-size: 36px;
		padding-bottom: 1%;
	}
	.projectscontainer {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
		.projectitem {
			background-color: var(--light-secondary);
			display: flex;
			flex-direction: column;
			margin: 5px 10px;
			padding: 10px 15px;
			width: 15vw;
		}

			@media only screen and (max-width: 650px) {
				.projectitem {
					width: calc(100vw - 50px);
				}
			}
			.projectitem:hover {
				background-color: var(--light-primary);
			}
			.projecttitle {
				color: var(--dark-primary);
				font-size: 24px;
				font-weight: bold;
				word-wrap: break-word;
			}
			.projectdesc {
				color: var(--dark-secondary);
				font-size: 16px;
				padding-bottom: 5px;
			}
			.projectprimarylang {
				color: var(--dark-secondary);
				font-size: 12px;
				font-style: italic;
			}
			.projectlangbars {
				display: flex;
			}
				.projectbar {
					height: 5px;
				}
