/* Color Palette */
:root {
	--red: #ff5656;
	--orange: #ff794d;
	--yellow: #ffff4d;
	--green: #73ff73;
	--blue: #529feb;
	--purple: #ff66ff;

	--accent: #529feb;
	--dark-primary: #343434;
	--dark-secondary: #1d1d1d;
	--dark-tetriary: black;
	--light-primary: #e4e4e4;
	--light-secondary: #b4b4b4;
	--light-tetriary: white;
}

/* Overall Styles */
button:hover {
    cursor: pointer;
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	display: block;
	text-decoration: none;
}

body {
	border: 0px;
	display: grid;
	font-family: 'Montserrat', verdana, arial, sans-serif;
	font-size: 24px;
	margin: 0px;
    overflow-x: hidden;
	padding: 0px;
}
	@media only screen and (max-width: 992px) {
		body {
			font-size: 16px;
		}
	}

div {
	display: inline-block;
}

li {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

p {
	text-align: left;
}

ul {
	display: block;
	list-style-type: none;
}

.disabled {
	display: none!important;
}

.clickable {

}
	.clickable:hover {
		cursor: pointer;
	}

/* ------------------------- */
/* HEADER */
/* ------------------------- */
#header {
	background-color: white;
	height: 80px;
	padding: 10px 5%;
	position: fixed;
	width: 90%;
	z-index: 5;
}
	@media only screen and (max-width: 992px) {
		#header {
			height: 50px;
			padding: 5px 3%;
			width: 94%;
		}
	}
	#logo {
		color: black;
		float: left;
		height: 80px;
	}
		#logoimg {
			height: 70px;
			padding: 5px;
		}
		#logotext {
			padding: 25.5px 5px;
			vertical-align: top;
		}
	#headerlinks {
		float: right;
		padding: 25.5px 0px;
	}
		.headerlink {
			border-color: var(--accent);
			border-style: solid;
			border-width: 0px;
			color: black;
			display: inline-block;
			padding: 0px 15px;
			transition: .25s;
		}
		.headerlink:hover {
			border-bottom-width: 4px;
			transition: .25s;
		}
#headerblock {
	height: 100px;
}
#footer {
	background-color: var(--dark-primary);
	color: var(--light-primary);
	padding: 2% 5% 5% 5%;
	width: 90%;
}
	#footertop {
		width: 100%;
	}
		#footerleft {
			color: var(--light-primary);
			float: left;
			font-size: 16px;
		}
		#footerlinks {
			float: right;
			font-size: 16px;
		}
			.footlink {
				color: var(--light-primary);
				display: inline-block;
				font-size: 16px;
				vertical-align: top;
			}
				.footlink:hover {
					text-decoration: underline;
				}
	#footerkit {
		color: var(--light-primary);
		font-size: 16px;
		text-align: center;
		width: 100%;
	}
	#footersocials {
		display: flex;
		justify-content: center;
		width: 100%;
	}
		.fsocial {
			background-color: var(--light-tetriary);
			border-radius: 75px;
			height: 75px;
			justify-content: space-around;
			margin: 10px;
			text-align: center;
			transition: .25s;
			vertical-align: middle;
			width: 75px;
		}
			.fsocimg {
				padding: 12.5px;
				width: 50px;
			}
