/* Color Palette */
:root {
	--red: #ff5656;
	--orange: #ff794d;
	--yellow: #ffff4d;
	--green: #73ff73;
	--blue: #529feb;
	--purple: #ff66ff;

	--accent: #529feb;
	--dark-primary: #343434;
	--dark-secondary: #1d1d1d;
	--dark-tetriary: black;
	--light-primary: #e4e4e4;
	--light-secondary: #b4b4b4;
	--light-tetriary: white;
}

/* Overall Styles */
button:hover {
    cursor: pointer;
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	display: block;
	text-decoration: none;
}

body {
	background-color: var(--dark-secondary);
	border: 0px;
	font-family: 'Montserrat', verdana, arial, sans-serif;
	font-size: 1rem;
	margin: 0px;
    overflow-x: hidden;
	padding: 0px;
}

div {
	display: inline-block;
}

li {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

p {
	text-align: left;
}

ul {
	display: block;
	list-style-type: none;
}

.disabled {
	display: none!important;
}

.clickable {

}
	.clickable:hover {
		cursor: pointer;
	}


#header {
	align-items: center;
	background-color: var(--dark-secondary);
	display: flex;
	justify-content: space-evenly;
	width: 100vw;
}
	.headerlink {
		border: 0px solid var(--accent);
		color: var(--light-primary);
		font-size: 24px;
		padding: 15px 3%;
		text-align: center;
		transition: all 250ms;
	}
		.headerlink.active {
			border-bottom: 5px solid var(--accent);
			padding-bottom: 10px;
		}
		.headerlink:hover {
			border-bottom: 5px solid var(--accent);
			padding-bottom: 10px;
		}
#footer {
	background-color: var(--dark-secondary);
	color: var(--light-primary);
	padding-top: 2%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 4%;
	width: 98%;
}
	#footer.light {
		background-color: var(--dark-primary);
	}
	#contacttitle {
		display: block;
		font-size: 36px;
		font-weight: bold;
	}
	#contactlinks {
		display: flex;
		justify-content: space-around;
		padding-top: 1%;
		width: 100vw;
	}
		.social {
			border-radius: 7.5vw;
			height: 7.5vw;
			transition: all 250ms ease;
			width: 7.5vw;
		}
			.social svg {
				fill:  var(--light-secondary);
			}
			.social.email:hover > .socimg {
				fill: #aa3d2d;
			}
			.social.github:hover {
				background-color: var(--light-primary);
				fill: black;
			}
				.social.github:hover svg {
					fill: black;
				}
			.social.linkedin:hover > .socimg {
				fill: #0a66c2;
			}
			.social.instagram:hover > .socimg {
				fill: url(#instagradient)!important;
			}
			.socimg {
				transition: all 250ms ease;
			}
				.socimg ~ defs stop {
					transition: all 250ms ease;
				}
