#aboutpanel {
	background-color: white;
	float: left;
	height: calc(100vh - 100px - 40px);
	width: 250px;
}
	#image {
		height: 200px;
		padding: 25px 0px;
		text-align: center;
		width: 250px;
	}
		#meimg {
			border: 3px solid black;
			border-radius: 200px;
			height: 200px;
			width: 200px;
		}
	#name {
		font-family: 'Dancing Script';
		font-size: 32px;
		text-align: center;
		width: 100%;
	}
		@media only screen and (max-width: 992px) {
			#name {
				font-size: 24px;
			}
		}
#content {
	background-color: var(--dark-primary);
	float: right;
	height: calc(100vh - 100px - 40px);
	left: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 100px;
	/* Add 100px to the right to get rid of scroll bar */
	width: calc(100% - 150px);
}
	#onpage {
		height: 100%;
		width: calc(100% - 80px);
	}
		.aboutportion {
			color: var(--light-primary);
			padding: 15px 5%;
			width: 90%;
		}
			.aptitle {
				display: block;
				font-size: 54px;
			}
				@media only screen and (max-width: 992px) {
					.aptitle {
						font-size: 36px;
					}
				}
		#meddlingimage {
			height: 200px;
			padding: 0px;
			width: 100%;
		}
			#mi-img {
				height: 200px;
				width: inherit;
			}
		#elevatorpitch {

		}
