#landing {
	background-image: url("static/images/backgrounds/forest.jpg");
	background-position: bottom;
	background-size: cover;
	height: calc(100vh - 100px);
	width: 100vw;
}
	@media only screen and (max-width: 1000px) {
		#landing {
			height: calc(100vh - 50px);
		}
	}
	#middle {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 0px 5%;
		position: absolute;
		top: calc(50vh - 250px);
		width: 90%;
	}
		@media only screen and (max-width: 1100px) {
			#middle {
				top: calc(50vh - 125px);
			}
		}
		@media only screen and (max-height: 700px) {
			#middle {
				top: calc(50vh - 125px);
			}
		}
		#text {

		}
			#top {
				font-size: 500%;
				position: relative;
				z-index: 2;
			}
				#hi {
					color: var(--accent);
					-webkit-text-stroke: 1px black;
				}
				@media only screen and (max-width: 1100px) {
					#top {
						font-size: 250%;
					}
				}
				@media only screen and (max-height: 700px) {
					#top {
						font-size: 250%;
					}
				}
			#bottom {
				background-color: rgba(255, 255, 255, .6);
				display: block;
				font-size: 600%;
				left: 75px;
				padding: 10px 25px;
				position: relative;
				top: -50px;
			}
				@media only screen and (max-width: 1100px) {
					#bottom {
						font-size: 300%;
						left: 35px;
						top: -25px;
					}
				}
				@media only screen and (max-height: 700px) {
					#bottom {
						font-size: 300%;
						left: 35px;
						top: -25px;
					}
				}
		#picture {

		}
			#pic {
				border: 5px solid black;
				border-radius: 500px;
				height: 500px;
			}
				@media only screen and (max-width: 1100px) {
					#pic {
						height: 250px;
					}
				}
				@media only screen and (max-height: 700px) {
					#pic {
						height: 250px;
					}
				}
.section {
	background-color: var(--light-primary);
	padding: 1% 5% 3% 5%;
	width: 90%;
}
	.section.dark {
		background-color: var(--light-secondary);
	}
	.sectiontitle {
		font-size: 200%;
	}
	.sectioncontent {
		align-items: center;
		display: flex;
		justify-content: space-evenly;
	}
		.portion {
			background-color: var(--purple);
			height: 20px;
			width: 20%;
		}
			.portion.text {

			}
			.portion.img {
				background-color: var(--green);
			}
			.portion.list {
				background-color: var(--orange);
			}
		.action {
			color: var(--dark-tetriary);
			display: inline-block;
			font-size: 200%;
			transition: .3s;
		}
			.action:hover {
				color: var(--accent);
			}
