#landing {
	background-color: var(--dark-secondary);
	height: calc(100vh - 59px);
	overflow: hidden;
	width: 100%;
}
	#map {
		background-color: var(--dark-primary);
		height: calc(100vh - 59px);
		margin-left: -15px;
		white-space: nowrap;
		width: calc(100vw + 15px);
	}
		.maprow {
			display: block;
		}
			.mapCell {
				background-color: var(--dark-primary);
				border: 1px solid var(--light-primary);
				height: 50px;
				margin-top: -5px;
				width: 50px;
			}
				.mapCell.current {
					background-color: var(--accent);
				}
				.mapCell.pathUp {
					border-top: 0px;
					padding-top: 1px;
				}
				.mapCell.pathLeft {
					border-left: 0px;
					padding-left: 1px;
				}
				.mapCell.pathRight {
					border-right: 0px;
					padding-right: 1px;
				}
				.mapCell.pathDown {
					border-bottom: 0px;
					padding-bottom: 1px;
				}
	#overlay {
		background-color: rgba(0, 0, 0, 0.6);
		color: var(--light-primary);
		left: calc(50vw - 250px);
		height: 200px;
		position: absolute;
		text-align: center;
		top: calc(50vh - 100px);
		width: 500px;
		z-index: 3;
	}
		@media only screen and (max-width: 650px) {
			#overlay {
				left: calc(50vw - 150px);
				height: 100px;
				top: calc(50vh - 50px);
				width: 300px;
			}
		}
		#name {
			font-size: 48px;
			padding-top: 50.5px;
		}
			@media only screen and (max-width: 650px) {
				#name {
					font-size: 36px;
					padding-top: 13.5px;
				}
			}
			#first {
				color: var(--accent);
			}
		#title {
			display: block;
			font-family: 'Dancing Script';
			font-size: 36px;
		}
			@media only screen and (max-width: 650px) {
				#title {
					font-size: 24px;
				}
			}
