
.header {
	background-color: var(--light-primary);
	color: var(--accent);
	font-size: 200%;
	font-weight: bold;
	padding: 0px 2.5%;
	width: 95%;
}
.title {
	background-color: var(--light-primary);
	font-size: 200%;
	padding: 50px 5% 15px 5%;
	text-align: center;
	width: 90%;
}
	.title.dark {
		background-color: var(--light-secondary);
	}
.section {
	background-color: var(--light-primary);
	display: flex;
	padding: 1% 5% 5% 5%;
	width: 90%;
}
	@media only screen and (max-width: 1000px) {
		.section {
			padding: 1% 0% 5% 0%;
			width: 100%;
		}
	}
	@media only screen and (max-width: 600px) {
		.section {
			display: inline-block;
		}
	}
	.section.dark {
		background-color: var(--light-secondary);
	}
	.socmed {
		width: 20%;
	}
		@media only screen and (max-width: 600px) {
			.socmed {
				width: 100%;
			}
		}
		.socmed img {
			padding: 10px 25%;
			width: 50%;
		}
		.socmed div {
			text-align: center;
			width: 100%;
			word-break: break-all;
		}
		.socmed a {
			color: var(--dark-secondary);
			text-align: center;
			text-decoration: underline;
			word-break: break-all;
		}
			.socmed a:hover {
				text-decoration-color: var(--accent);
			}
