
.header {
	background-color: var(--light-primary);
	color: var(--accent);
	font-size: 200%;
	font-weight: bold;
	padding: 0px 2.5%;
	width: 95%;
}
.title {
	background-color: var(--light-primary);
	font-size: 200%;
	padding: 50px 5% 15px 5%;
	text-align: center;
	width: 90%;
}
	.title.dark {
		background-color: var(--light-secondary);
	}
.section {
	background-color: var(--light-primary);
	display: flex;
	padding: 1% 5% 3% 5%;
	width: 90%;
}
	@media only screen and (max-width: 1000px) {
		.section {
			padding: 1% 0% 3% 0%;
			width: 100%;
		}
	}
	@media only screen and (max-width: 600px) {
		.section {
			display: inline-block;
		}
	}
	.section.dark {
		background-color: var(--light-secondary);
	}
		.desktop {
			display: flex;
			width: 100%;
		}
			.desktop a {
				color: var(--dark-secondary);
				display: inline-block;
			}
				.desktop a:hover {
					text-decoration: underline;
					text-decoration-color: var(--accent);
				}
		.mobile {
			display: none;
			width: 100%;
		}
		@media only screen and (max-width: 600px) {
			.desktop {
				display: none;
			}
			.mobile {
				display: inline-block;
			}
		}
			.mobile .text {
				padding-top: 15px;
				padding-bottom: 25px;
				width: 100%;
			}
				.mobile a {
					color: var(--dark-secondary);
					display: inline-block;
				}
					.mobile a:hover {
						text-decoration: underline;
						text-decoration-color: var(--accent);
					}
	.socmed {
		width: 20%;
	}
		@media only screen and (max-width: 600px) {
			.socmed {
				width: 100%;
			}
		}
		.socmed img {
			padding: 10px 25%;
			width: 50%;
		}
		.socmed div {
			text-align: center;
			width: 100%;
			word-break: break-all;
		}
		.socmed a {
			color: var(--dark-secondary);
			text-align: center;
			text-decoration: underline;
			word-break: break-all;
			width: 100%;
		}
			.socmed a:hover {
				text-decoration-color: var(--accent);
			}
	.text {
		padding: 0px 1%;
		width: 58%;
	}
		.text .title {
			background: none;
			font-size: 150%;
			padding: 0px;
			text-align: left;
			width: 100%;
		}
