/* Color Palette */
/*
*/
:root {
	--red: #ff3300;
	--blue: #529EFB;
	--green: #99ff66;
	--primary: #e4e4e4;
	--secondary: #343434;
}

/* Overall Styles */
button:hover {
    cursor: pointer;
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	display: block;
	text-decoration: none;
}

body {
	border: 0px;
	font-family: 'Montserrat', verdana, arial, sans-serif;
	font-size: 16px;
	margin: 0px;
    overflow-x: hidden;
	padding: 0px;
}
	@media screen and (max-width: 800px) {
		body {
			font-size: 14px;
		}
	}

div {
	display: inline-block;
}

li {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

p {
	text-align: left;
}

ul {
	display: block;
	list-style-type: none;
}

.disabled {
	display: none!important;
}
/* SPECIFIC STYLES */
body {
	height: 100vh;
	overflow: hidden;
	width: 100vw;
}
#content {
	background-color: var(--secondary);
	color: var(--primary);
	height: 100%;
	width: 100%;
}
	#title {
		float: left;
		font-size: 24px;
		font-weight: bold;
		margin-top: 50px;
		text-align: center;
		width: 70%;
	}
	#choice {
		float: left;
		font-size: 20px;
		margin-top: 25px;
		text-align: center;
		width: 70%;
	}
		#choice div {

		}
			.choiceset {

			}
				.choice {
					border: 2px solid var(--primary);
					padding: 5px 15px;
				}
					.choice:hover {
						background-color: #545454;
					}
					.choice.selected {
						background-color: var(--green);
						border-color: black;
						color: black;
					}
		#cone {

		}
		#ctwo {
			margin-left: 50px;
		}
	#datatype {
		font-size: 20px;
		margin-top: 25px;
		text-align: center;
		width: 100%;
	}
		.dtchoice {
			border: 2px solid var(--primary);
			padding: 5px 15px;
		}
			.dtchoice:hover {
				background-color: #545454;
			}
			.dtchoice.selected {
				background-color: var(--green);
				border-color: black;
				color: black;
			}
#console {
	background-color: #141414;
	float: right;
	height: 100%;
	position: relative;
	top: -79px;
	width: 30%;
}
	#feed {
		color: var(--primary);
		height: calc(100% - 64px);
		overflow-y: scroll;
		width: 100%;
	}
	#input {
		background-color: #141414;
		border: 0px;
		color: var(--primary);
		font-family: 'Montserrat';
		height: 50px;
		outline: none;
		padding: 5px;
		width: calc(100% - 65px);
	}
	#enter {
		background-color: #141414;
		border: 0px;
		color: var(--primary);
		height: 50px;
		outline: none;
		width: 50px;
	}
