.sectiontitle {
	background-color: var(--light-secondary);
	font-size: 200%;
	padding-left: 5px;
}
#filtercontainer {
	background-color: var(--light-secondary);
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
}
	@media only screen and (max-width: 1000px) {
		#filtercontainer {
			display: inline-block;
		}
	}
	#languages {
		max-width: 1000px;
	}
		.filteroption {
			border: 3px solid var(--accent);
			border-radius: 5px;
			margin: 5px 10px;
			padding: 5px 15px;
		}
			.filteroption:hover {
				background-color: var(--light-primary);
			}
	#categories {
		padding-left: 100px;
	}
		@media only screen and (max-width: 1000px) {
			#categories {
				padding-top: 15px;
				padding-left: 0px!important;
			}
		}
#projectscontainer {
	background-color: var(--light-secondary);
	width: 100vw;
}
	.yearcontainer {
		padding-bottom: 25px;
		width: 100%;
	}
		.yeartitle {
			color: var(--dark-primary);
			font-size: 150%;
			font-weight: bold;
			padding-left: 5px;
			width: 100%;
		}
		.projects {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 10px 1%;
			width: 98%;
		}
			.projectbox {
				background-color: var(--light-primary);
				border: 1px solid black;
				border-radius: 5px;
				margin: 5px;
			}
				.projectimg {
					display: block;
					padding: 0px 25px;
					padding-top: 25px;
					width: 425px;
				}
				.projectname {
					display: block;
					padding: 0px 25px;
					width: 425px;
				}
				.projectdescription {
					display: block;
					font-size: 100%;
					padding: 0px 25px;
					width: 425px;
				}
				.langbars {
					display: flex;
					padding-top: 15px;
				}
					.bar {
						flex-grow: 1;
						height: 5px;
					}
		.revisions {
			padding: 10px 1%;
			width: 98%;
		}
			.revisionstitle {
				display: block;
			}
				.revisionbox {
					background-color: var(--light-primary);
					border: 1px solid black;
					border-radius: 5px;
					margin: 5px;
				}
					.revtitle {
						display: block;
						padding: 0px 25px;
						width: 425px;
					}
#reposcontainer {
	background-color: var(--light-primary);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px 25px 35px 25px;
	width: calc(100vw - 50px);
}
	.repoitem {
		border-left: 5px solid var(--accent);
		flex-grow: 1;
		margin: 5px;
	}
		.ri-clickable {
			padding: 5px;
		}
			.ri-clickable:hover {
				background-color: var(--light-secondary);
			}
			.ri-c-title {
				color: var(--dark-secondary);
				display: block;
			}
			.ri-c-desc {
				color: var(--dark-primary);
				display: block;
			}
			.ri-c-lang {
				color: var(--dark-primary);
				display: block;
			}
